body {
    background-image: url(../img/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
table{
    background: #FFFFFF95;
    border: 2px solid;
}
.mb-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
